name: Check that pull request is from develop

on:
  pull_request: # triggers on open, reopen and synchronize by default
    branches: ["master"]
  push:
    branches:
      - master

jobs:    
  bump-version:
    name: Is pull request from develop (or master)

    runs-on: ubuntu-latest #self-hosted

    steps:
    - name: Check that pull request is from develop or master
      run: |
        if [ "${{github.head_ref}}" == "develop" ]; then
        echo Pull request is from develop ✔
          exit 0
        elif [ "${{github.head_ref}}" == "master" ]; then
          echo Pull request is from master ✔
          exit 0
        else
          echo Pull requests from ${{github.head_ref}} are not allowed. Only pull requests from develop are allowed.
        fi
        
        exit 1
      