name: Check that pull request is from develop

on:
  pull_request: # triggers on open, reopen and synchronize by default
    branches: ["master"]

jobs:    
  bump-version:
    name: Is pull request from develop

    runs-on: ubuntu-latest #self-hosted

    steps:
    - name: Check that pull request is from develop
      run: |
        if github.head_ref != 'develop'
        then
          exit 0
        else
          echo pull requests from ${{github.head_ref}} are not allowed
          exit 1
        fi
